@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  font-family: 'Major Mono Display', monospace;
}

.main {
  padding: 20px;
  background:  linear-gradient(to top left, #b6f147 36%, #87f52d 100%);
  width: 100%;
  max-width: 330px;
  margin: 15px auto;
  box-shadow: #b6f147;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.display {
  width: 100%;
  font-size: 40px;
  margin-bottom: 15px;
  background:  linear-gradient(to bottom right, #fffd8e  36%, #fffc56 100%);
  border: none;
  border-radius: 3px;
}

.display--result {
  background: linear-gradient(to bottom right, #ffed32  36%, #f5e531 100%)
}

.button {
  padding: 5px;
  font-size: 35px;
  width: 50px;
  margin-bottom: 10px;
  background: yellow;
  background:  linear-gradient(to bottom right, #fdfa21  26%, #eeff00 60%, #d7f33b 90%);
  border: none;
  border-radius: 3px;
}

.button:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
