@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  font-family: 'Major Mono Display', monospace;
}

.main {
  padding: 20px;
  background:  linear-gradient(to top left, #eecf2a 5%, #f62f6c 85%);
  width: 100%;
  max-width: 330px;
  margin: 15px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.main--night-theme .button {
  background:  linear-gradient(to top left, #3e6984 36%, #2e5792 100%);
  color: #fff5bd;
}

.main--night-theme .display {
  background:  linear-gradient(to bottom right, #25116f 36%, #391d59 100%, #360851 36%);
  color: #ecffcf;
}

.main--night-theme .display--number {
  background:  linear-gradient(to bottom right, #2e1586 36%, #422365 100%, #3b0859 36%);
}

.main--dark-theme {
  background:  linear-gradient(to top left, #47b0f1 36%, #040326 100%);
}

.main--light-theme {
  background:  linear-gradient(to top left, #47b0f1 36%, #87f52d 100%);
}
.main--green-theme {
  background:  linear-gradient(to top left, #44741d 36%, #669120 100%);
}
.main--yellow-theme {
  background:  linear-gradient(to top left, #fec519 36%, #f5ca5a 100%);
}


.display {
  width: 100%;
  font-size: 40px;
  margin-bottom: 15px;
  background:  linear-gradient(to bottom right, #fcff8f 36%, #fffc56 100%, #fcff8f 36%);
  border: none;
  border-radius: 3px;
}

.result {
  color: #fff5bd;
}

.display--result {
  background: linear-gradient(to bottom right, #ffed32  36%, #ffe412 100%)
}

.button {
  padding: 5px;
  font-size: 35px;
  width: 50px;
  margin-bottom: 10px;
  background: yellow;
  background:  linear-gradient(to bottom right, #fdfa21  26%, #eeff00 60%, #d7f33b 90%);
  border: none;
  border-radius: 3px;
}

.button:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
